@font-face {
    font-family: nunito;
    src: url("fonts/nunito.regular.ttf"), url("fonts/nunito.extrabold.ttf");
}
* {
    font-family: nunito;
}
.logo {
    height: 3rem;
    width: 3rem;
}
.container1 {
    font: bolder;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 10px -5px rgb(0 0 0 / 20%);
}
.button-Buy {
    font-size: 1em;
    padding: 0.7rem 1.4rem;
    border-radius: 0% 20px 20px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    background-color: white;
    border: solid #ed6436 3px;
}
.button-Buy:hover {
    background-color: #ed6436;
    color: white;
}
.view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    margin-top: -18px;
    font-size: 3.5rem;
    font-weight: bold;
}
h1 {
    font-size: 1.5rem;
    color: #ed6436;
    font-family: nunito, sans-serif;
}
.pictures {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pictures__img {
    border-radius: 28px;
    height: 350px;
    width: 400px;
    margin: 30px;
    cursor: pointer;
}
.pictures__img:hover {
    color: rgba(0, 0, 0, 0.156);
}

.view__button {
    font-size: 1em;
    padding: 0.7rem 1.4rem;
    border-radius: 0% 20px 20px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #ed6436;
    border: solid #ed6436 3px;
    color: white;
}
.view__button:hover {
    background-color: white;
    color: black;
}
